<div>
    <div class="modal-header">
        <a class="close" data-ng-click="close()">x</a>
        <h3 class="modal-title">Form Connexion</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" class="form-control" placeholder="Enter your user name" data-ng-model="userName" />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-hand-right"></i></span>
                    <input type="password" class="form-control" placeholder="Enter your password" data-ng-model="password" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-0 pull-right">
                    <button type="button" class="btn btn-success" data-ng-click="save()">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
